[submodule "CSE101_ASGN1"]
	path = CSE101_ASGN1
	url = https://github.com/KashishShharma/CSE101_ASGN1.git
[submodule "CSE101_ASGN2"]
	path = CSE101_ASGN2
	url = https://github.com/KashishShharma/CSE101_ASGN2.git
[submodule "CSE101_ASGN3"]
	path = CSE101_ASGN3
	url = https://github.com/KashishShharma/CSE101_ASGN3.git
[submodule "CSE101_ASGN4"]
	path = CSE101_ASGN4
	url = https://github.com/KashishShharma/CSE101_ASGN4.git
